/*-webkit-scrollbar is a pseudo-element in CSS that allows you to customize the scrollbar of an element. */
::-webkit-scrollbar {
  width: 8px;
}

/* ::-webkit-scrollbar-track is a pseudo-element in CSS that represents the track of the scrollbar. The track is the background of the scrollbar, which the thumb moves along. */
::-webkit-scrollbar-track {
  background: #1f2937;
}

/* ::-webkit-scrollbar-thumb is a pseudo-element in CSS that represents the draggable scrolling handle of the scrollbar. */
::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
}

/* ::-webkit-scrollbar-thumb:hover is a pseudo-class in CSS that applies when the user hovers over the scrollbar's thumb. */
::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}